In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-0.25.3-cp35-cp35m-manylinux1_x86_64.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 9.2 MB/s
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 81.7 MB/s
Collecting numpy>=1.13.3
  Downloading numpy-1.18.5-cp35-cp35m-manylinux1_x86_64.whl (19.9 MB)
     |████████████████████████████████| 19.9 MB 64.0 MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /home/codespace/.local/lib/python3.5/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.5/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.18.5 pandas-0.25.3 pytz-2020.1

In [2]:
import pandas as pd

In [3]:
price_data = pd.read_csv('price.csv')

In [4]:
price_data.head()

  Things  Quantity  Total_Price
0  Spoon     105.0         1050
1  Plate      78.0         2250
2    Cup      90.0         1550
3   Fork       NaN          890
4  Bread      21.0          620

In [5]:
price_data.isnull()

   Things  Quantity  Total_Price
0   False     False        False
1   False     False        False
2   False     False        False
3   False      True        False
4   False     False        False
5   False     False        False

In [6]:
price_data = price_data.fillna(0)

In [8]:
price_data.head()

  Things  Quantity  Total_Price
0  Spoon     105.0         1050
1  Plate      78.0         2250
2    Cup      90.0         1550
3   Fork       0.0          890
4  Bread      21.0          620